.App {
  text-align: center;
}
.column{
  width:100%;
}
div .filterSelect{
  padding:20px;
  display: inline-block;
}
input{
  margin-right: 20px;
}
@media only screen and (min-width: 630px) {
  /* only for screens wider or equal to 630 pixels */
  /* code from https://www.thesitewizard.com/css/design-2-column-layout.shtml */
  .filterSelect {
    float: left ;
    width: 25% ;
  }
  .tableDisplay {
    float: left;
    width: 70%;
  }
}

